<nav>
  <ul id="navbar">
    <a href="https://www.enedis.fr/">
      <li><img
        src="https://assets-global.website-files.com/65a0f34e0eee0c12329738bb/65ba57df0eb885684269d194_LOGO-ENEDIS-BLANC-72-DPI.png"
        id="logoEnedis"></li>
    </a>
    <li>
      <button (click)="goToHome()">Accueil</button>
    </li>
    <li>
      <button (click)="goToExercices()">Exercices</button>
    </li>
    <li>
      <button>Statistiques</button>
    </li>
    <li>
      <button (click)="goToAccount()"> Mon Compte</button>
    </li>
    <li><img ngSrc="assets/light-mode.png" height="512" width="512" alt="bouton pour changer au mode sombre"></li>
  </ul>
</nav>
