::ng-deep html {
  background-image: url("https://img3.wallspic.com/crops/6/6/2/8/7/178266/178266-obscurite-blue-azure-ligne-symetrie-3840x2160.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
#container {
  padding-top: 150px;
}

::ng-deep body {
}

