.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 0 auto;
}

.category-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #0056b3;
}

.category-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

span {
  font-size: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.exercise-container {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #0d1b2a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.exercise-question {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.card {
  padding: 20px;
  background-color: #1c3b57;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

#mat-radio-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.mat-radio-button {


  margin-bottom: 10px;
}

.radio-option {
  background-color: #0b4e72;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.radio-option:hover {
  background-color: #18b0e8;
}

.content {
  font-size: 16px;
  color: #ffffff;
}

.submit-button {
  display: block;
  margin: 20px auto 0;
  padding: 12px 25px;
  background-color: #18b0e8;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #0b4e72;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

::ng-deep .mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.error-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.fixed-compteur {
  position: fixed;
  top: 100px;
  right: 20px;
  font-size: 50px;
  background-color: #ffeb3b;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: green;
  z-index: 1000;
  font-weight: bold;
}
.fade-out {
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;
}

.fade-out.hide {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;
}

.end-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f8d7da;
  border-radius: 10px;
  border: 2px solid #f5c6cb;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.end-title {
  font-size: 36px;
  font-weight: bold;
  color: #721c24;
  margin-bottom: 20px;
}

.end-text {
  font-size: 18px;
  color: #721c24;
  margin-bottom: 30px;
  text-align: center;
}

.end-button {
  background-color: #f5c6cb;
  color: #721c24;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.end-button:hover {
  background-color: #f1aeb2;
}
